html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

input,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0;
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html {
    font-size: .833vw;
}

.container {
    max-width: 55vw;
    margin: 0 auto;
    padding: .78vw;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.header {
    font-size: 3.1em;
    font-weight: 900;
}

.simple-text {
    font-size: .875em;
    font-weight: 100;
}

.button1 {
    display: inline-block;
    background: #90d23d;
    color: #ffffff;
    padding: 1.5rem 1.5vw;
    border-radius: 12px;
    font-size: 1.125em;
    transition: .2s;
    border: 2px solid #90d23d;
    cursor: pointer;
}

.button1:hover {
    color: #90d23d;
    background: transparent;
}

.block01 {
    min-height: 100vh;
    background: url("../img/top_bg.jpg") no-repeat top center / cover;
    position: relative;
    overflow: hidden;
}

.block01__row {
    overflow: hidden;
    margin: 0 -.78vw;
}

.block01__row > div {
    padding: 0 .78vw;
    float: left;
    min-height: 1px;
}

.block01__header {
    padding: 0.04rem 0 0;
}

.block01:after {
    content: '';
    position: absolute;
    width: 110%;
    background: #fff;
    transform: rotate(-3.5deg);
    bottom: -104px;
    left: 0;
    height: 170px;
}

.block01__col1 {
    width: 25%;
}

.block01__col2 {
    width: 50%;
}

.block01__col3 {
    width: 25%;
}

.block01__nav {
    padding: 1.9vw 0 0;
    text-align: right;
}

.block01__nav li {
    display: inline-block;
}

.block01__nav li + li {
    margin-left: 0.6vw;
}

.block01__nav a {
    font-weight: 100;
    font-size: .938em;
    text-transform: uppercase;
    color: #ffffff;
    transition: .2s;
}

.block01__nav a:hover {
    color: #90d23d;
}

.block01__city {
    padding: 1.9vw 0 0;
}

.block01__city span {
    font-size: .938em;
    color: #ffffff;
    font-weight: 100;
}

.block01__city a {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 100;
}

.block01__col5 {
    width: 83.33%;
}

.block01__main {
    padding: 15rem 0 25rem;
}

.block01__h1 {
    font-size: 5em;
    line-height: 1em;
    font-weight: 100;
    color: #ffffff;
    margin: 0 0 1rem;
}

.block01__h2 {
    font-size: 3.125em;
    line-height: 1em;
    font-weight: 400;
    color: #ffffff;
}

.block02 {
    padding: 8rem 0 3rem;
}

.block02__info {
    position: absolute;
    top: -25rem;
    width: 50%;
    padding: 3rem 1.5vw;
    background: #fff;
    right: 0;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
}

.block02__inner {
    position: relative;
}

.block02__text1 {
    font-size: 2.5em;
    font-weight: 900;
    margin: 0 0 2.5rem;
}

.block02__text2 {
    margin: 0 0 1.5rem;
}

.block02__header {
    margin: 0 0 12.6rem;
}

.block02__pluses {
    display: flex;
    justify-content: space-between;
}

.block02__plus {
    flex: 0 1 30%;
}

.block02__image-wrap img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
}

.block02__image-wrap {
    margin: 0 0 3.5rem;
    height: 20rem;
    display: flex;
    align-items: flex-end;
}

.block02__text3 {
    margin: 0 0 2rem;
    font-size: 2.18em;
    font-weight: 900;
}

.block03 {
    padding: 9rem 0 6rem;
}

.block03__header {
    margin: 0 0 6rem;
}

.block03__table {
    border-radius: 15px;
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
}

.block03__table td {
    padding: 1.2rem .6vw;
    color: #ffffff;
    font-size: 1.125em;
}

.block03__table td:nth-child(2),
.block03__table th:nth-child(2) {
    text-align: center;
}

.block03__table td:nth-child(1) {
    padding: 1.2rem 1vw;
}

.block03__table th {
    text-align: left;
    padding: 1.5rem .75vw;
    background: #a3cc40;
}

.block03__table th a {
    font-weight: 700;
    font-size: 1.375em;
    color: #ffffff;
}

.block03__table th i {
    font-size: .938em;
}

.block03__table tr {
    background: #4b4d4f;
}

.block03__table tr:nth-child(2n) {
    background: #373737;
}

.block03__disclaimer {
    margin: 3rem auto 0;
    max-width: 80%;
}

.block03__checkbox {
    display: none;
}

.block03__checkbox + label {
    font-size: 1.25em;
    color: #999;
    cursor: pointer;
    opacity: .4;
}

.block03__checkbox:checked + label {
    color: #a3cc40;
    opacity: 1;
}

.block04 {
    padding: 26rem 0 18rem;
    background: url("../img/b4_bg.jpg") no-repeat center / cover;
    position: relative;
    overflow: hidden;
}

.block04__logo {
    position: absolute;
    box-shadow: .5vw 1rem 1vw #000;
    border-radius: 100%;
    overflow: hidden;
    left: 0;
    top: -26rem;
    width: 17vw;
    height: 17vw;
}

.block04__logo img {
    display: block;
}

.block04__inner {
    position: relative;
}

.block04:after {
    content: '';
    position: absolute;
    width: 110%;
    background: #fff;
    transform: rotate(-3.5deg);
    bottom: -10ch;
    left: 0;
    height: 17rem;
}

.block04:before {
    content: '';
    position: absolute;
    width: 110%;
    background: #fff;
    transform: rotate(-3.5deg);
    top: -10rem;
    left: -5vw;
    height: 27rem;
}

.block04__header {
    color: #ffffff;
    margin: 0 0 4rem;
}

.block04__text1 {
    color: #ffffff;
    margin: 0 0 2rem;
}

.block04__text-wrap {
    width: 75%;
    margin-left: auto;
}

.block05 {
    padding: 12rem 0;
}

.block05 .container {
    max-width: 52vw;
}

.block05__header {
    margin: 0 0 3rem;
}

.block05__text1 {
    margin: 0 0 6rem;
    max-width: 70%;
}

.block05__inner {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.1vw;
}

.block05__movie1 {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.block05__bg img {
    display: block;
}

.block05__descr {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 100%;
    background: #46c90b;
    opacity: .8;
    transition: .2s;
    padding: 2.5vw 1.25vw;
}

.block05__descr {
    display: flex;
    flex-direction: column;
}

.block05__text2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1em;
    margin: 0 0 2rem;
}

.block05__sep {
    display: block;
    width: 2.5vw;
    height: .5rem;
    background: #fff;
    margin: 0 0 2rem;
}

.block05__text3 {
    font-size: 1.125em;
    color: #ffffff;
    font-weight: 500;
    flex: 1;
}

.block05__movie1:hover .block05__descr {
    top: 0;
}

.block05__linls a {
    color: #ffffff;
    font-size: 2.188em;
}

.block05__linls a + a {
    margin-left: .938em;
}

.block06 img {
    display: block;
}

.block07 {
    background: #90d23d;
    padding: 5rem 0;
}

.block07__inner a + a {
    margin-left: .938em;
}

.block07 svg {
    width: 2.5vw;
}

.to_top {
    position: fixed;
    display: none;
    right: 2.7vw;
    bottom: 5rem;
    background: rgba(0, 0, 0, .5);
    padding: .938em;
    border-radius: 100%;
    cursor: pointer;
}

.to_top svg {
    height: 2em;
    width: 2em;
    display: block;
    fill: #fff;
}

.input-wrap {
    margin: 0 0 2rem;
}

.input-text {
    font-size: 1.188em;
    color: #6c6c6c;
    padding: 1.5rem .5vw;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
    transition: .2s;
}

.input-text:focus {
    border-color: #90d23d;
}

.modal__form {
    max-width: 22.5vw;
    padding: 2.5rem 1.25vw;
}

.input-text::-webkit-input-placeholder {
    color: #bebebe;
}

.input-text::-moz-placeholder {
    color: #bebebe;
}

.input-text:-moz-placeholder {
    color: #bebebe;
}

.input-text:-ms-input-placeholder {
    color: #bebebe;
}

.input-checkbox {
    display: none;
}

.input-checkbox + label {
    font-size: 1em;
    padding-left: 1.15vw;
    position: relative;
    padding-top: 0.3em;
}

.input-checkbox + label i {
    position: absolute;
    display: none;
    font-size: .75em;
    left: .1vw;
    top: .3rem;
    color: #90d23d;
}

.input-checkbox:checked + label i {
    display: block;
}

.radio-wrap {
    margin: 0 0 1rem;
}

.input-radio {
    display: none;
}

.input-radio + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: .875em;
    height: .875em;
    border-radius: 100%;
    border: 1px solid #000;
}

.input-radio + label {
    font-size: 1em;
    padding-left: 1.15vw;
    position: relative;
    padding-top: 0.3em;
}

.input-radio + label span {
    position: absolute;
    height: .5em;
    width: .5em;
    border-radius: 100%;
    left: .25em;
    top: .3125em;
    background: #90d23d;
    display: none;
}

.input-radio:checked + label span {
    display: block;
}

.input-checkbox + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: .1rem;
    width: .875em;
    height: .875em;
    border: 1px solid #000;
}

.input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/down-arrow.svg") 96% center / 5% no-repeat #fff;
}

.input-textarea {
    height: 25rem;
    resize: none;
}

.input-plus {
    font-size: 1.875em;
    color: #90d23d;
}

.input-minus {
    font-size: 1.875em;
    color: #f0652a;
}

.input-file-wrap {
    position: relative;
}

.input-file {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

.input-file + label {
    font-size: 1.125em;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 1.5rem .75vw;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.menu-burger {
    display: none;
}

.menu-close {
    display: none;
}